@import "tailwindcss";

.mis-productos-skeleton { 
    background-color: var(--color-slate-100); 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:40px;
    padding:60px; 
}

.mis-productos-skeleton div {
    background-color: var(--color-slate-300);
    border-radius: 10px;
    padding: 16px;
    border-width: 2px;
    border-color: black;
    height: 450px;  
}

.productosGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 60px;
    background-color: var(--color-slate-100);
}
 
.card-producto {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var(--color-slate-300);
    border-width: 2px;
    border-color: black;
    align-items: center;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card-producto:hover {
    box-shadow: 0px 5px 10px var(--color-slate-500);
    transform: translateY(-2px);
}

.card-producto-contenedor-imagen {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.card-producto-imagen {
    object-fit: contain;
}

.card-producto-titulo {
    width: 100%;
    text-align: center;
    font-size: large;
    margin-top: 20px;
}

.card-producto-texto {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-color: var(--color-slate-400);
}

.card-producto-texto p {
    margin: 8px;
}

.card-producto-boton { 
    width: 60%; 
    align-content: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-slate-500);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: auto;
}

.card-producto-boton:hover {
    background-color: var(--color-slate-600);
} 

.modal-fondo {
    position: fixed;

    inset: 0;

    background: rgba(0,0,0,0.5);

    display: flex;

    justify-content: center;

    align-items: center;
}

.modal {
    background: var(--color-slate-100);
    padding: 24px;
    border-radius: 12px;
    min-width: 300px;
    display:flex;
    flex-direction:column; 
    gap:10px; 
}

.modal-input-texto {
    color: white; 
    background-color: var(--color-slate-400);  
    border-radius: 8px; 
    margin: 10px; 
    padding: 10px;
    text-align:center;
}

.modal-div-superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-slate-300);
    border-radius: 8px; 
}

.modal-div-medio {
    background-color: var(--color-slate-300); 
    border-radius: 8px;
    display:flex;
    flex-direction:column; 
}

.modal-div-medio p {
    margin-top:10px; 
    text-align:center;
}

.modal-div-inferior {
    display:flex;  
    justify-content:space-between; 
    background-color: var(--color-slate-300);
    border-radius: 8px;
}

.modal-contenedor-imagen {
    position: relative;
    width: 100px; 
    height: 100px;
    margin: 10px; 
}

.modal-producto-imagen {
    object-fit: contain;
}

.modal-boton {
    border: none;
    border-radius: 8px;
    background-color: var(--color-slate-500);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding:10px; 
    margin:10px; 
}

.modal-boton:hover { 
    background-color: var(--color-slate-600);
}