.modalFondo {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: var(--color-slate-100);
    padding: 24px;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalBoton {
    border: none;
    border-radius: 8px;
    background-color: var(--color-slate-500);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 10px;
    margin: 10px;
}

    .modalBoton:hover {
        background-color: var(--color-slate-600);
    }

.contenedorCards {
    background: var(--color-slate-100);
    padding: 24px;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 70vh; 
    overflow-y: auto;
    border-width: 1px;
    border-color: black
}

.divSuperior {
    border-radius: 8px;
    padding: 10px;
    background-color: var(--color-slate-300);
}

.divInferior {
    background-color: var(--color-slate-100); 
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display:flex; 
}