.modalFondo {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.modal {
    background: var(--color-slate-100);
    padding: 24px;
    border-radius: 12px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalInputTexto {
    color: white;
    background-color: var(--color-slate-400);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.modalDivSuperior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-slate-300);
    border-radius: 8px;
}

.modalDivMedio {
    background-color: var(--color-slate-300);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

    .modalDivMedio p {
        margin-top: 10px;
        text-align: center;
    }

.modalDivInferior {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-slate-300);
    border-radius: 8px;
}

.modalContenedorImagen {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.modalProductoImagen {
    object-fit: contain;
}

.modalBoton {
    border: none;
    border-radius: 8px;
    background-color: var(--color-slate-500);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 10px;
    margin: 10px;
}

    .modalBoton:hover {
        background-color: var(--color-slate-600);
    }